div{
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
}


#box1 {
    border: 1px solid blue;
    flex-basis: 45%;
    height: 50px;
}

#box2 {
    border: 1px solid red;
    flex-basis: 45%;
    height: 50px;
}